@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #111827;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
